#header {
  color: white;
  width: 100%;
  
}

.header-top {
  background-color: #321542;
padding: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#sign-in-area {
  display: flex;
  flex-direction: column;
}
