#comment-container {
  border: 1px solid rgb(210, 210, 210);
  border-radius: 10px;
  background-color: white;
  margin-top: 3%;
  margin-right: 5%;
  margin-left: -1%;
  padding: 2%;
  font-size: 0.8rem;
}

#comment-top {
  display: flex;
  justify-content: space-between;
}

#comment-author {
  text-align: left;
  font-weight: 550;
}

#comment-date {
    font-style: italic;
    color: grey;
    font-weight: 300;
}

#comment-body{
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: left;
}

#comment-votes{
    text-align: right;
    font-size: 0.9rem;
}

#comment-bottom{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#comment-delete{
  width: fit-content;
}

.tooltiptext{
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.delete-comment-button{
  cursor: pointer;
}

.delete-comment-button:hover .tooltiptext {
  visibility: visible;
}

.comment-pending-delete{
  opacity: 40%;
}