#article-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 3%;
}

#author-container {
    text-align: left;
    padding-left: 3%;

}

#article-header{
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
    padding-left: 3%;
}

#comment-header{
    display: flex;
    font-weight: 700;
    padding: 2%;
    flex-direction: row;
    justify-content: center;
}

#article-body {
 text-align: left;
}

#article-foot {
    display: flex;
    vertical-align: right;
    flex-direction: row;
    justify-content: space-around
}

#votes-in-article{
    display: flex;
    
   

}