.invalid-input {
    border: 2px solid red;
}

.invalid-message{
    font-size: 0.7rem;
    margin-top: 0;
    text-align: left;
    color: rgb(255, 72, 0);
}
.sumbit-button {
   width: 70%;

}

.submitted-button {
    background-color: rgb(182, 207, 174);
}
.comment-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.sumbit-container{
display: flex;
flex-direction: column;
}

.comment-input {
    resize: none;
    min-height: 40px;
    max-height: 80px;
    min-width: 50%;
    max-width: 90%;
}